@import "../../../variables";

.core20-rename{
    position: relative;
    width: 130px;
    height: 35px;
    border: 0px solid white;
    border-top: 1px solid $nordic-blue;
    font-size: small;
    text-align: center;
    color: $nordic-blue;
}

::-webkit-input-placeholder { 
    color: $nordic-blue;
    opacity: 0.5;
    font-size: small;
}