

.core20-rename{
    background-color: hotpink;
    text-decoration: orange;
    border-color: palegreen;
    align-items: center;
    border: 5px solid;
    .input{
        text-decoration: orange;
        border-color: palegreen;
        height: 100px; 
    }
}