@import "../../../variables";

.core20-rename{
    margin-top: 10px;
    width: 80%;
    height: 32px;
    position: relative;
    border: none;
    text-decoration-line: 2px underline black;
    border-bottom: 2px solid $primary ;
}