@import "../../../variables";

.core20-rename{
    width: 130px;
    position: relative;
    border: 0px solid white;
    border-top: 1px solid $nordic-blue;
    text-decoration-line: 2px underline black;
    font-size: smaller;
    text-align: center;
    color: $nordic-blue;  
    height: 35px;
    z-index: 2;  
    visibility: hidden;
}

::-webkit-input-placeholder { 
    color: $nordic-blue;
    opacity: 0.5;
    font-size: small;
}