@use "sass:color";

@import "../../../variables";

.core19-device-selector {
    .no-devices-connected {
        height: calc(100vh - 40px);
        padding: 20px;

        a {
            color: color.scale($nordic-blue, $lightness: -30%);
        }
    }

    .device-list {
        list-style: none;
        padding: 0;
        overflow-y: overlay;
        height: calc(100vh - 40px);
        margin-bottom: 0;

        font-weight: $font-weight-light;

        > * {
            border-bottom: 1px solid $gray-200;
        }

        @include scrollbars($gray-100);
    }
}
