@use "sass:color";

@import "../../../variables";

.core19-device-selector {
    .no-devices-connected {
        padding: 20px;

        a {
            color: color.scale($nordic-blue, $lightness: -30%);
        }
    }

    .device-list {
        list-style: none;
        padding: 0;
        overflow-y: scroll;
        height: calc(100vh - 40px);
        margin-bottom: 0;

        font-weight: $font-weight-light;

        > :first-child {
            border-top: 1px solid $primary-darkened;
        }

        > * {
            border-bottom: 1px solid $primary-darkened;
        }

        .details .name:not(:focus) {
            pointer-events: none;
        }
    }
}
