@import "../../../variables";

.core19-device-selector {
    .device {
        display: flex;
        flex-direction: column;

        padding-top: 20px;
        padding-bottom: 13px;

        .name{
            font-size : 15; 
            font-weight: 400;
        }

        &:hover, &.more-infos-visible {
            background: $white;
            color: $primary-darkened;
            .serial-number { color: $primary; }
        }
        
        &.selected-device:not(:hover) {
            background: $primary-darkened;
            &.more-infos-visible{
                background: lavender;
            }
        }

        .show-more {
            margin-right: 20px;
            margin-left: 10px;
        }

        .more-infos {
            padding-left: 68px;

            .ports {
                list-style: none;
                padding: 0;
                text-decoration: underline;
                margin-top: 1em;
            }
        }
        .bottom {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            color: black;
            width: 100%;
            height: 32px;
            position: relative;
            border: none;
            width: 100%;
        }
    }
}
