@import "../../../variables";

.core19-device-selector {
    .device {
        display: flex;
        flex-direction: column;

        padding-top: 20px;
        padding-bottom: 13px;

        &:hover, &.more-infos-visible {
            background: $white;
            color: $primary-darkened;
            .serial-number { color: $primary; }
        }

        &.selected-device:not(:hover) {
            background: $primary-darkened;
            &.more-infos-visible{
                background: lavender;
            }
        }

        .more-infos {
            padding-left: 68px;

            .ports {
                list-style: none;
                padding: 0;
                text-decoration: underline;
                margin-top: 1em;
            }
        }
    }

    .favorite-and-rename {
        margin-top: 10px;
        height: 35px;
        margin-left: -68px;
        margin-bottom: -13px;
        text-align: center;
        font-weight: bolder;
        font-size: smaller;
        color: $nordic-blue;
        background-color: $white;
    }
}
