@import "../../../variables";

.core19-device-selector {
    .device {
        display: flex;
        flex-direction: column;

        padding-top: 20px;
        padding-bottom: 13px;

        .name{
            font-size : 15; 
            font-weight: 400;
        }

        .device-box{
            display: flex;
            flex-direction: row;
            size: 100;
        }

        &:hover, &.more-infos-visible {
            background: $white;
            color: $primary-darkened;
            .serial-number { color: $primary; }
        }
        
        &.selected-device:not(:hover) {
            background: $primary-darkened;
            &.more-infos-visible{
                background: lavender;
            }
        }

        .show-more {
            margin-right: 20px;
            margin-left: 10px;
        }

        .more-infos {
            padding-left: 68px;

            .ports {
                list-style: none;
                padding: 0;
                text-decoration: underline;
                margin-top: 1em;
            }
        }
        
        
    }
    .btn-group {
        margin-top: 10px;
        position: relative;
        height: 35px;
        margin-left: -68px;
        margin-bottom: -13px;
        text-align: center;
        font-weight: bolder;
        font-size: smaller;
        color: $nordic-blue;
        background-color: $white;
    
        .favBtn{
            width: 130px;
            height: 100%;
            border: 0px solid $white;
            border-top: 1px solid $nordic-blue;
            border-right: 1px solid $nordic-blue;
        }
        .inputBtn{
            position: absolute;
            width: 130px; 
            height: 35px;
            margin-left: 130px;
            border: 0px solid $white;
            border-top: 1px solid $nordic-blue; 
        }
    }
}

