@use "sass:color";

@import "../../../variables";

.core19-device-selector {
    .device-list {
        @include scrollbars($gray-50);
        background: $gray-50;
        color: $gray-700;

        position: fixed;
        width: $side-panel-width;
        height: calc(100vh - #{$nav-bar-height});
        z-index: -1;

        overflow-y: overlay;

        transition: transform $normal-transition;

        &.hidden {
            transform: translateY(-100%);
        }

        .no-devices-connected {
            padding: 20px;
        }

        ul {
            padding: 0;
            margin-bottom: 0;

            > li {
                border-bottom: 1px solid $gray-200;
            }
        }
    }
}
