@import "../../../variables";

.core19-device-selector {
    .edit-device-buttons {
        margin-top: 10px;
        height: 35px;

        font-size: 11px;
        font-weight: $font-weight-normal;

        text-transform: uppercase;
        text-align: center;

        border-top: 1px solid $nordic-blue;

        & > * {
            padding-top: 9px;
            width: 50%;
        }

        & > *:first-child {
            border-right: 1px solid $nordic-blue;
        }
    }
}
