@import "../../../variables";

.core19-device-selector {
    .more-infos {
        padding-left: 68px;

        .ports {
            list-style: none;
            padding: 0;
            text-decoration: underline;
            margin-top: 1em;
        }
    }
}
