@import "../../../variables";

.core19-device-selector {
    .more-infos {
        .info-row {
            display: flex;
            flex-direction: row;
            padding-right: 20px;
        }

        .flex-space {
            width: 68px;
        }

        .name {
            margin-top: 1em;
        }

        .ports {
            list-style: none;
            padding: 0;
            text-decoration: underline;
            margin-top: 1em;
            text-align: center;
        }
    }
}
