/node_modules
/nordicsemiconductor-pc-nrfconnect-shared-*.tgz
/coverage
/scripts/nordic-publish.js
/scripts/check-app-properties.js
/scripts/check-for-typescript.js
/scripts/nrfconnect-license.js
/dist
/.vscode/settings.json
