pool:
  vmImage: 'ubuntu-latest'
steps:
- task: NodeTool@0
  inputs:
    versionSpec: 18
- bash: |
    set -o errexit -o pipefail
    npm ci
    npm run check
    npm run clean-generate-types
    npm run generate-types
    [[ $(git status --porcelain) ]] && printf "Generate types found changes:\n$(git status --porcelain)\n" && exit 1
    npm test -- --coverage --coverageReporters=cobertura
  displayName: "Lint & test"
- task: PublishCodeCoverageResults@1
  displayName: Publish code coverage
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml
