trigger:
    - main
pool:
    name: wayland_pool_sw_only
    demands:
        - agent.name -equals wl-node-test-17
variables:
    - group: wayland
steps:
    - task: NodeTool@1
      inputs:
          versionSource: 'spec'
          versionSpec: '18.x'
          checkLatest: true
    - script: |
          set -o errexit -o pipefail
          node -p "process.arch"
      displayName: 'Build, Test, Compile and Pack'
    - bash: |
          set -o errexit -o pipefail
          cp *.tgz "$(Build.ArtifactStagingDirectory)"
      condition: ne(variables['Build.Reason'], 'PullRequest')
      displayName: 'Copy Artifacts'
    - task: PublishCodeCoverageResults@1
      displayName: Publish code coverage
      inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml
    - task: PublishPipelineArtifact@1
      inputs:
          targetPath: $(Build.ArtifactStagingDirectory)
          publishLocation: 'pipeline'
      displayName: 'Publish artifacts to artifact storage'
