@import "../variables";

$bar-height: 2px;
$handle-radius: 6px;
$handle-radius-selected: 8px;

$tick-radius: 3px;

$color-selected: $gray-700;
$color-unselected: $gray-200;

.slider {
    height: 2*$handle-radius-selected;

    position: relative;
    margin: 0 $handle-radius;
}

.slider .slider-bar {
    position: absolute;
    top: $handle-radius-selected - 0.5 * $bar-height;
    height: $bar-height;
    margin: 0 (-$handle-radius);
}

.slider .slider-bar.background {
    left: 0;
    right: 0;
    background-color: $color-unselected;
}

.slider .slider-bar.foreground {
    background-color: $color-selected;
}

.slider .slider-handle {
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    outline: 0;

    border-color: $color-selected;
    border-width: $handle-radius;
    top: $handle-radius-selected - $handle-radius;
    margin-left: -$handle-radius;

    transition-property: border-color, border-width, top, margin-left;
    transition-duration: 100ms;
}

.slider:not(.disabled) {
    .slider-handle:hover, .slider-handle.dragged {
        border-width: $handle-radius-selected;
        top: 0;
        margin-left: -$handle-radius-selected;

        z-index: 1;
    }
}

.slider .ticks {
    display: flex;
    justify-content: space-between;
    margin-right: -$handle-radius;

    .tick {
        border-style: solid;
        border-radius: 50%;
        outline: 0;

        border-color: $color-unselected;
        border-width: $tick-radius;
        margin-top: $handle-radius-selected - $tick-radius;
        margin-left: -$handle-radius;

        &.selected {
            border-color: $color-selected;
        }
    }
}
