.card-component {
    &:nth-child(3n + 1) {
        margin-left: 0;
    }
    &:nth-child(3n + 4) {
        margin-top: 0.25em;
    }

    margin-left: 0.25em;

    flex: 1;
    max-width: 20em;
    flex-shrink: 0;
    padding: 0.6em 0.6em;

    .card-component-header {
        background-color: transparent;
        text-align: center;
        .card-component-title {
            float: inherit;
            padding-top: 5px;
        }
    }
}
