@import "./variables";

.core19-app {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    min-width: 930px;
    display: flex;
    flex-flow: column;
}

.core19-app-content {
    display: flex;
    flex-flow: row;
    height: 100%;

    .core19-main-and-log {
        flex: 1;
        display: flex;
        flex-flow: column;
        min-width: 0;
        position: relative;
        background-color: $blue-gray-100;

        .core19-main-view {
            margin: 8px;
            padding: 10px 15px;
            flex: 1;
            background-color: $white;
            overflow: hidden;
        }
    }

    .core19-side-panel {
        width: $sidebar-width;
        padding: 24px 23px;
        background-color: $blue-gray-50;
        overflow: auto;
        height: 100%;
    }
}
