$nordic-blue: #00a9ce;
$blue-slate: #00a9ce;

$primary: $nordic-blue;
$accent: $blue-slate;

$white: white;
$black: black;

$gray-50: #eceff1;
$gray-100: #cfd8dc;
$gray-200: #b0bec5;
$gray-300: #90a4ae;
$gray-400: #78909c;
$gray-500: #607d8b;
$gray-600: #546e7a;
$gray-700: #455a64;
$gray-800: #37474f;
$gray-900: #263238;

$red: #f44336;
$indigo: #3f51b5;
$amber: #ffc107;
$purple: #9c27b0;
$green: #4caf50;
$deep-purple: #673ab7;
$orange: #ff9800;
$lime: #cddc39;
$pink: #e91e63;

// below are old entries, check after redesign whether they can be removed

$brand-main:            #009CDE; // Nordic primary blue
$brand-primary:         #0080B7; // Nordic secondary dark blue
$brand-info:            #6dcff6; // Nordic secondary light blue
$brand-base:            #ffffff; // White

$brand-success: $green;
$brand-warning: $orange;
$brand-danger: $red;

$brand-primary-dark:    darken($brand-primary, 5%);     // #006e9e //used by button border
$brand-primary-darker:  darken($brand-primary, 10%);    // #005c84 //used by focus and active
$brand-primary-darkest: darken($brand-primary, 17%);    // #005c84 //used whe both focus and active at the same time

$custom-control-indicator-bg: $gray-50;
$custom-control-indicator-checked-bg: $gray-300;
