@import "./variables";

.core19-device-selector {
    .dropdown-toggle.btn {
        min-width: 143px;
        height: 34px;
    }
    .dropdown-toggle::after {
        margin-left: 12px;
    }

    .btn-primary {
        background-color: $primary;
        border: none;
    }
}

.core19-device-selector-item {
    padding-left: 5px;

    // board version
    > div:nth-child(1) > span {
        margin-left: 20px;
    }
}

ul.core19-device-selector-item-details {
    font-size: 11px;
    padding-left: 25px;
    margin-bottom: 0;
}
