@import "./variables";

.core19-log-viewer {
    background-color: $background-color;

    border-top: 1px solid gray;
    overflow: hidden;
    width: 100%;

    .core19-log {
        position: relative;
        overflow: auto;
        background-color: $blue-gray-800;
        height: 155px;

        > div {
            display: table;
            min-width: 100%;
        }
    }
}
