@import "./variables";

.core19-log-entry {
    height: 20px;
    white-space: nowrap;
    display: table-row;
    min-width: 100%;
    border-bottom: 1px solid $blue-gray-100;

    .core19-log-cell {
        display: table-cell;
        padding: 0 20px;
        height: 20px;
        line-height: 20px;
        user-select: text;
    }
    .core19-log-time {
        width: 132px;
        min-width: 132px;
    }
}

.core19-log-level-error {
    color: $state-danger-text;
    background-color: $state-danger-bg;
}
