@import "./variables";

.core19-nav-bar {
    width: 100%;
    height: 40px;

    background-color: $white;
    color: $blue-gray-500;

    display: flex;
    flex: none;
    flex-direction: row;
    align-items: center;

    .core19-nav-bar-device-selector {
        width: $side-panel-width;
        height: 100%;

        background-color: $primary;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
