$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

@import "~@mdi/font/css/materialdesignicons.min.css";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        border-color: darken($value, 5%);
    }
}

html, body, #webapp {
    height: 100%;
}

body {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: default;
}

// used when tabbing and space
:focus {
    outline-color: $accent !important;
}

.custom-switch {
    .custom-control-label::before {
        background-color: $blue-gray-50 !important;
    }
    .custom-control-label::after {
        background-color: $blue-gray-300 !important;
    }

    .custom-control-input:checked ~ {
        .custom-control-label::before {
            border-color: $blue-gray-300 !important;
            background-color: $blue-gray-300 !important;
        }
        .custom-control-label::after {
            background-color: $blue-gray-50 !important;
        }
    }
}
