@import "./variables";

.core19-visibility-bar {
    display: flex;

    .core19-visibility-bar-show-side-panel {
        width: $side-panel-width;
        background-color: $blue-gray-100;
        padding: 5px 10px;
    }

    .core19-visibility-bar-show-log {
        flex-grow: 1;
        background-color: $blue-gray-900;
        color: white;
        padding: 5px 10px;
        text-align: right;
    }
}
