.nrf-card {
    margin-left: 0.25em;
    flex: 1;
    max-width: 20em;
    flex-shrink: 0;
    padding: 1em;
    
    .card-body {
        padding: 1.5rem 0 0rem 0;
    }

    .header {
        background-color: transparent;
        text-align: center;
        padding: 0.5rem 1rem;
        .title {
            transform: translateY(0%);
        }
    }
}