@import "../variables.scss";

.card {
    &:nth-child(3n + 1) {
        margin-left: 0;
    }

    margin-left: 0.25em;

    flex: 1;
    max-width: 20em;
    flex-shrink: 0;
    padding: 0.75em 0.75em;     

}
.header {
    background-color: transparent !important;
    text-align: center !important;
    padding: 0.5em 0em 0em 0em !important;   
}

.title {
    float: inherit !important;
    margin-bottom: 0px !important;
}

.body {
    padding: 1em 0em 0em 0em !important;
}