@import '../variables';

.core19-app {
    background-color: $gray-50;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.core19-app-content {
    display: flex;
    flex-flow: row;
    height: calc(100% - #{$nav-bar-height + $visibility-bar-height});

    .core19-main-and-log {
        flex: 1;
        display: flex;
        flex-flow: column;
        min-width: 0;
        position: relative;
        background-color: $gray-100;

        .core19-main-container {
            margin: 1em;
            flex: 1;
            overflow: auto;

            .carousel-inner {
                height: 100%;
                .carousel-item {
                    height: 100%;
                    transition: opacity $normal-transition;
                }
            }
        }

        .core19-log-viewer {
            background-color: $gray-900;
            color: $gray-400;

            overflow: hidden;
            width: 100%;

            max-height: $log-viewer-height;
            transition: max-height $normal-transition;

            &.hidden {
                max-height: 0;
            }

            &:hover {
                color: $gray-100;
            }
        }
    }

    .core19-side-panel-container {
        width: $side-panel-width;
        padding: 0 23px;
        background-color: $gray-50;
        height: 100%;
        margin-left: 0;
        transition: margin-left $normal-transition;

        &.hidden {
            margin-left: -$side-panel-width;
        }

        overflow-y: overlay;
        @include scrollbars($gray-50);
    }
}
