@import "../variables";

.core19-app {
    background-color: $gray-50;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.core19-app-content {
    display: flex;
    flex-flow: row;
    height: 100%;

    .core19-main-and-log {
        flex: 1;
        display: flex;
        flex-flow: column;
        min-width: 0;
        position: relative;
        background-color: $gray-100;

        .core19-main-container {
            margin: 1em;
            flex: 1;
            overflow: auto;
        }
    }

    .core19-side-panel {
        width: $side-panel-width;
        padding: 24px 23px;
        background-color: $gray-50;
        overflow: auto;
        height: 100%;
    }
}
