@import "../variables";

.core19-visibility-bar {
    display: flex;
    height: $visibility-bar-height;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.9;
    z-index: 1;

    .core19-visibility-bar-show-side-panel {
        width: $side-panel-width;
        color: $gray-700;
        background-color: $gray-100;
        padding: 5px 10px;

        transition: background-color $normal-transition;

        &.panel-hidden {
            background-color: $gray-50;
        }
    }

    .core19-visibility-bar-show-log {
        flex-grow: 1;
        color: $gray-100;
        background-color: $gray-800;
        padding: 5px 15px;
        text-align: right;

        display: flex;
        flex-direction: row;

        .log-button {
            margin-right: 1em;
            border: 0;
            background-color: $gray-700;
            color: $gray-200;
            text-transform: inherit;
        }

        .log-switch { margin-left: 3em; }

        .custom-control-label::before {
            border: 0;
            background-color: $gray-900;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $gray-600;
        }

        .custom-switch .custom-control-input ~ .custom-control-label::after {
            background-color: $gray-300;
        }
    }
}
