@import "../variables";

.about {
    .about-card:first-child { margin-left: 0; }
    .about-card { margin-left: 0.25em; }

    .about-card {
        flex: 1;
        max-width: 17em;
        flex-shrink: 0;

        padding: 0.6em 1em;

        background-color: $white;
        border: 1px solid $gray-200;

        font-weight: $font-weight-light;
        color: $gray-500;
    }

    .about-card-title {
        font-size: inherit;
        text-align: right;
    }
}
