@import "../../variables";

.core19-device-selector {
    .basic-device-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .details {
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            line-height: 1;

            .name {
                font-size: 14px;
                font-weight: $font-weight-bold;

                &:not(:focus) {
                    pointer-events: none;
                }
            }
        }

        .toggles {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 44px;
            margin-right: 10px;
        }
    }
}
