@import "../../variables";

.core19-device-selector {
    .icon {
        width: 68px;
        flex-shrink: 0;
        padding-left: 27px;

        fill: $gray-500;
    }

    .selected-device:hover .icon {
        fill: $primary;
    }
}
