@import "../../variables";

.core19-device-selector {
    .icon {
        width: 68px;
        display: flex;
        align-items: center;

        padding-left: 27px;
        fill: $gray-500;
    }

    .selector-button:hover .icon {
        fill: $primary;
    }
}
