@import "../../variables";

.core19-device-selector {
    .selected-device {
        height: $nav-bar-height;

        font-size: 16px;
        color: $gray-700;
        background: $white;

        display: flex;
        flex-direction: row;
        align-items: center;

        .serial-number {
            font-weight: $font-weight-light;
            font-size: 11px;
        }

        .disconnect {
            color: $gray-700;
        }

        &:hover, *:hover {
            color: $primary;
        }
    }
}
