@import "../../variables";

.core19-device-selector {
    .selector-button {
        width: 100%;
        height: $nav-bar-height;

        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover { background: $primary-darkened; }

        &.device-selected {
            color: $primary;
            background: $white;

            .serial-number {
                color: inherit;
                font-weight: $font-weight-light;
                font-size: 11px;
            }

            &:hover {
                color: $white;
                background: $primary;
            }
        }

        &.no-device-selected {
            .show-list-indicator {
                margin-right: 20px;
            }
        }

        .select-device {
            padding-left: 68px;
            flex-grow: 1;
            text-transform: uppercase;
        }

        &:hover {
            .disconnect { display: flex; }
        }
        .disconnect {
            display: none;

            background: $gray-800;
            font-weight: $font-weight-light;
            font-size: 11px;
            text-transform: uppercase;

            flex-direction: row;
            align-items: center;

            position: fixed;
            height: 2em;
            top: $nav-bar-height;
            width: $side-panel-width;

            span {
                padding-left: 27px;
                padding-right: 10px;
            }
        }
    }
}
