@import "../variables";

.core19-log {
    position: relative;
    overflow: auto;
    height: 155px;

    scroll-snap-type: y mandatory;

    > div {
        display: table;
        min-width: 100%;

        scroll-snap-align: start;
    }

    @include scrollbars($gray-900);
}
