@import "../variables";

.core19-log {
    position: relative;
    overflow: auto;
    height: 155px;

    scroll-snap-type: y mandatory;

    > div {
        display: table;
        min-width: 100%;

        scroll-snap-align: start;
    }

    &::-webkit-scrollbar-thumb {
        border-color: $gray-900;
        background: $gray-400;
    }

    &::-webkit-scrollbar-thumb:hover  {
        background: $gray-200;
    }
}
