@import "../variables";

.core19-log-entry {
    white-space: nowrap;
    display: table-row;
    min-width: 100%;

    .core19-log-cell {
        display: table-cell;
        padding: 0 0.7em;
        user-select: text;
    }
    .core19-log-time {
        width: 7em;
    }
}

.core19-log-level-error {
    color: $brand-danger;
}
