name: Check labels

on: workflow_call

env:
    GH_TOKEN: ${{ github.token }}

jobs:
    check_label:
        runs-on: ubuntu-latest
        env:
            TAG_IDENTIFIER: "<!--labels-->"
            missing_doc_label: 'false'
            missing_ui_label: 'false'
            labels_are_missing: 'false'
        steps:
            - name: 'Check for missing doc label'
              if: >
                  ! contains(github.event.pull_request.labels.*.name, 'doc required') &&
                  ! contains(github.event.pull_request.labels.*.name, 'doc not required')
              run: echo "missing_doc_label=true" >> "$GITHUB_ENV"

            - name: 'Check for missing ui label'
              if: >
                  ! contains(github.event.pull_request.labels.*.name, 'ui required') &&
                  ! contains(github.event.pull_request.labels.*.name, 'ui not required')
              run: echo "missing_ui_label=true" >> "$GITHUB_ENV"

            - name: Detect missing labels
              if: >
                  (env.missing_doc_label == 'true' ||
                   env.missing_ui_label == 'true') &&
                  ! contains(github.event.pull_request.labels.*.name, 'documentation')
              run: echo "labels_are_missing=true" >> "$GITHUB_ENV"

            - name: 'Notify user if label(s) is missing'
              if: env.labels_are_missing == 'true'
              run: |
                URL="${{ github.event.pull_request.html_url }}"
                COMMENT_TEXT="${TAG_IDENTIFIER}\nAdd labels:"
                if [[ "${{ env.missing_doc_label }}" == 'true' ]]; then
                  COMMENT_TEXT="${COMMENT_TEXT}\n- 'doc required' or 'doc not required'"
                fi
                if [[ "${{ env.missing_ui_label }}" == 'true' ]]; then
                  COMMENT_TEXT="${COMMENT_TEXT}\n- 'ui required' or 'ui not required'\n\n
                For UI review:\n
                - describe the changes\n
                - add pictures\n
                - add the relevant UI responsible(s) as a reviewer"
                fi

                if [[ ! \
                  $(gh pr view $URL \
                       --json comments \
                       --jq '.comments[].body | select(. | startswith("'"$TAG_IDENTIFIER"'"))') \
                ]]; then
                  gh pr comment $URL --body "$(echo -e $COMMENT_TEXT)"
                fi

            - name: 'Fail'
              uses: actions/github-script@v7
              if: env.labels_are_missing == 'true'
              with:
                  script: core.setFailed('Required doc and/or ui labels missing.')

            - name: Hide comment when resolved
              if: env.labels_are_missing != 'true'
              run: |
                PR_NUMBER=${{ github.event.pull_request.number }}

                node_id=$(gh api "repos/${{ github.repository }}/issues/$PR_NUMBER/comments" \
                  --jq '.[] | select(.body | startswith("'"$TAG_IDENTIFIER"'")) | .node_id' | head -n 1)

                if [ -n "$node_id" ]; then
                  gh api graphql -f query="
                    mutation {
                      minimizeComment(input: {
                        subjectId: \"$node_id\",
                        classifier: RESOLVED
                      }) {
                        clientMutationId
                      }
                    }
                  "
                fi
