name: Check labels

on:
    workflow_call:

env:
  GH_TOKEN: ${{ github.token }}

jobs:
    check_labels:
        runs-on: ubuntu-latest
        steps:
          - name: 'Check for required labels'
            if: >
                contains(github.event.pull_request.labels.*.name, 'doc required') == false &&
                contains(github.event.pull_request.labels.*.name, 'doc not required') == false
            run: echo "missing_label=true" >> "$GITHUB_ENV"

          - name: 'Notify user if label is missing'
            if: env.missing_label == 'true'
            run: |
              URL="${{ github.event.pull_request.html_url }}"
              COMMENT_TEXT="Required 'doc required' or 'doc not required' label"
              if [[ ! $(gh pr view $URL --json comments --jq '.comments[].body | select(. | contains("'"$COMMENT_TEXT"'"))') ]]; then
                gh pr comment $URL --body "$COMMENT_TEXT"
              fi

          - name: 'Fail'
            uses: actions/github-script@v7
            if: env.missing_label == 'true'
            with:
              script: core.setFailed('Required "doc required" or "doc not required" label')
