name: Release shared

# With the trusted publisher model, npm now allows only a single workflow to
# be registered as the trusted publisher. But this workflow can then invoke
# other workflows, which may do the actual releasing.

# So this workflow will act as a switch which:
# - If run on main branch as a result of a push, will check try to
#   automatically release a new version
# - Can be run directly to explicitly release a new version to npm (which only
#   makes sense when running it on a branch apart from main, because there the
#   auto-release workflow will take care of it)
#
# The idea of this setup is also shown in
# https://github.com/orgs/community/discussions/174507#discussioncomment-14723818

on:
    push:
        branches: [main]
    workflow_dispatch:
        inputs:
            ref:
                description:
                    Ref (Tag, branch, commit SHA) to release. Defaults to from
                    where the workflow is triggered, usually the main branch.
                required: false
                type: string

jobs:
    auto-release:
        if: ${{ github.event_name == 'push' }}
        uses: ./.github/workflows/auto-publish-shared.yml
        secrets: inherit

    explicit-release:
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: ./.github/workflows/release-shared.yml
        with:
            ref: ${{ inputs.ref }}
