name: Release

on:
    workflow_call:
        inputs:
            ref:
                type: string
            source:
                required: true
                type: string
            node_version:
                type: number
            doc_bundle_name:
                type: string

jobs:
    build:
        uses: ./.github/workflows/build-app.yml
        with:
            ref: ${{ inputs.ref }}
            force_pack: true
            node_version: ${{ inputs.node_version }}

    release:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: ${{ inputs.source }}

        steps:
            - uses: actions/download-artifact@v4
            - name: Release app to ${{ inputs.source }}
              env:
                  ARTIFACTORY_TOKEN:
                      ${{ secrets.COM_NORDICSEMI_FILES_PASSWORD_SWTOOLS_FRONTEND }}
              run: |
                  cd artifact
                  tar xaf *.tgz --strip-components 1
                  node dist/nordic-publish.js \
                    --no-pack \
                    --destination artifactory \
                    --source '${{ inputs.source }}'

    check-if-docs-exist:
        needs: release
        runs-on: ubuntu-latest
        if:
            inputs.doc_bundle_name && (inputs.source == 'official (external)' ||
            inputs.source == 'latest (internal)')
        outputs:
            docs_exist: ${{ steps.check.outputs.docs_exist }}
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.ref }}

            - name: Check if docs exist
              id: check
              run: |
                  if [ -f "doc/mkdocs.yml" ]; then
                      echo "docs_exist=true" >> "$GITHUB_OUTPUT"
                  else
                      echo "docs_exist=false" >> "$GITHUB_OUTPUT"
                  fi

    publish-docs:
        needs: check-if-docs-exist
        if: needs.check-if-docs-exist.outputs.docs_exist == 'true'
        uses: ./.github/workflows/docs-publish.yml
        with:
            release-type:
                ${{ inputs.source == 'official (external)' && 'prod' || 'dev' }}
            bundle-name: ${{ inputs.doc_bundle_name }}
