name: Release

on:
    workflow_call:
        inputs:
            ref:
                type: string
            source:
                required: true
                type: string
            node_version:
                type: number

jobs:
    build:
        uses: ./.github/workflows/build-app.yml
        with:
            ref: ${{ inputs.ref }}
            force_pack: true
            node_version: ${{ inputs.node_version }}

    release:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: ${{ inputs.source }}

        steps:
            - uses: actions/download-artifact@v4
            - name: Release app to ${{ inputs.source }}
              env:
                  ARTIFACTORY_TOKEN:
                      ${{ secrets.COM_NORDICSEMI_FILES_PASSWORD }}
              run: |
                  cd artifact
                  tar xaf *.tgz --strip-components 1
                  node dist/nordic-publish.js \
                    --no-pack \
                    --destination artifactory \
                    --source '${{ inputs.source }}'
