name: Release

on:
    workflow_call:
        inputs:
            ref:
                type: string
            source:
                required: true
                type: string
            node_version:
                type: number
            doc_bundle_name:
                type: string

env:
    ARTIFACT_NAME: ${{ github.event.repository.name }}

jobs:
    build:
        uses: ./.github/workflows/build-app.yml
        with:
            ref: ${{ inputs.ref }}
            force_pack: true
            node_version: ${{ inputs.node_version }}

    release:
        runs-on: ubuntu-latest
        needs: build
        env:
            GH_TOKEN: ${{ github.token }}
        environment:
            name: ${{ inputs.source }}

        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: ${{ env.ARTIFACT_NAME }}

            - name: Release app to ${{ inputs.source }}
              env:
                  ARTIFACTORY_TOKEN:
                      ${{ secrets.COM_NORDICSEMI_FILES_PASSWORD_SWTOOLS_FRONTEND
                      }}
              run: |
                  tar xaf *.tgz
                  cp *.tgz package
                  cd package
                  node dist/nordic-publish.js \
                    --no-pack \
                    --destination artifactory \
                    --source '${{ inputs.source }}'

            - name: Create release on GitHub
              if: inputs.source == 'official (external)'
              run: |
                  TAG="v${{ needs.build.outputs.version }}"

                  # Check if GitHub release already exists
                  if gh release view "$TAG" --repo ${{ github.repository }} >/dev/null 2>&1; then
                      echo "::error::Not running because a GitHub release with the tag $TAG already exists"
                      exit 1
                  fi

                  gh release create "$TAG" \
                    --target ${{ inputs.ref || github.ref }} \
                    --repo ${{ github.repository }} \
                    --notes-file release_notes.md \
                    ./*.tgz

    check-if-docs-exist:
        needs: release
        runs-on: ubuntu-latest
        outputs:
            docs_exist: ${{ steps.check.outputs.docs_exist }}
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.ref }}

            - name: Check if docs exist
              id: check
              run: |
                  if [ -f "doc/mkdocs.yml" ]; then
                      echo "docs_exist=true" >> "$GITHUB_OUTPUT"
                  else
                      echo "docs_exist=false" >> "$GITHUB_OUTPUT"
                  fi

    publish-docs:
        needs: check-if-docs-exist
        if: |
            inputs.doc_bundle_name &&
            inputs.source == 'official (external)' &&
            needs.check-if-docs-exist.outputs.docs_exist == 'true'
        uses: ./.github/workflows/docs-publish.yml
        with:
            release-type: prod
            bundle-name: ${{ inputs.doc_bundle_name }}
        secrets: inherit
